<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="demo-consumer"/>
    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <!--<dubbo:registry address="multicast://224.5.6.7:1234" check="false" subscribe="true" register="false"/>-->
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <!--<dubbo:protocol name="dubbo" port="20880" />-->
	<!-- 用户服务接口 -->
    <dubbo:reference id="demoService" check="false" interface="org.apache.dubbo.demo.DemoService" url="127.0.0.1:20880"/>

</beans>